name: "update"

on:
  workflow_dispatch:
  schedule:
    - cron: "15 5 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: "pip"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run main script
        run: |
          python main.py

      - name: Git Config
        run: |
          git config user.name 'Github Actions'
          git config user.email '<>'

      - name: Commit and push changes
        run: |
          git add anidb_titles.json
          git diff --cached --quiet && exit 0
          git commit -m "Automated update"
          git push origin HEAD:main
